__pycache__
src/python/occFacto.egg-info/
src/python/occFacto/utils/pointnet2_ops_lib/build/
src/python/occFacto/utils/pointnet2_ops_lib/pointnet2_ops.egg-info/
src/work_dirs/
src/build/
src/python/occFacto/models/occFactoDiffFreezeTraining
data

*.pyc
*.egg-info/

.file_check.py.swp
.file_checker.py.swo
.file_checker.py.swp
src/python/occFacto/models/occFactoDiffFreezeTraining1
src/python/occFacto/models/occFactoDiffFreezeTraining2
src/python/occFacto/models/occFactoDiffFreezeTraining3/
*/build/
*.pkl

testnpz/03001627.zip

*.so
*.pth
